$main-white: #fcfcfc;
$white: #ffffff;

$main-black: #131313;
$black: #000000;

$bcg-color: #84a278;
$secondary-bcg: #aec6a5;

$main-yellow: #f8d24e;
$secondary-yellow: #efd478;

$main-brown: #d6936d;
