<!-----Advantages ------>
<section class="advantages">
  <div class="slider">
    <h2 hidden>comments-title</h2>
    <picture>
      <source srcset="#" media="(min-width: 1200px)" />
      <img class="background-img" src="#" alt="icecream" />
    </picture>
    <div class="comments-container">
      <p class="comments-text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <h3 class="comments-contact">Emily, Los Angeles</h3>
  </div>
  <div class="slider">
    <h2 hidden>comments-title</h2>
    <picture>
      <source srcset="#" media="(min-width: 768px)" />
      <img class="comments-img" src="#" alt="#" />
    </picture>
    <div class="comments-container">
      <p class="comments-text">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
    </div>
    <h3 class="comments-contact">Bryan, New-York</h3>
  </div>
  <div class="slider">
    <h2 hidden>comments-title</h2>
    <picture>
      <source srcset="#" />
      <img class="comments-img" src="#" alt="#" />
    </picture>
    <div class="comments-container">
      <p class="comments-text">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
    </div>
    <h3 class="comments-contact">Diana, Chicago</h3>
  </div>
</section>
