<header class="page-header">
  <div class="header-container container">
    <nav class="navigation">
      <a href="#" class="navigation__logo">
        <picture>
          <source
            srcset="
              ./images/logo/logo-desk-min.png    1x,
              ./images/logo/logo-desk-2x-min.png 2x
            "
            media=" (min-width: 1200px)"
          />
          <source
            srcset="
              ./images/logo/logo-tab-min.png    1x,
              ./images/logo/logo-tab-2x-min.png 2x
            "
            media=" (min-width: 768px)"
          />
          <source
            srcset="
              ./images/logo/logo-mob-min.png    1x,
              ./images/logo/logo-mob-2x-min.png 2x
            "
            media=" (max-width: 767px)"
          />
          <img src="./images/logo/logo-mob-min.png" alt="" />
        </picture>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">Home</li>
        <li class="navigation__item">How it’s made?</li>
        <li class="navigation__item">Our products</li>
        <li class="navigation__item">Contact</li>
      </ul>
    </nav>
    <div class="btn-wrap">
      <button
        class="menu-toggle js-open-menu nav__burger"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle__icon" width="32px" height="32px">
          <use href="./images/SprayIceCream.svg#menu"></use>
        </svg>
      </button>
      <button class="modal-btn" type="button">
        Buy now
        <svg class="menu-btn__icon" width="12" height="12">
          <use href="./images/SprayIceCream.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- Mobile-menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <a href="#" class="menu-logo">
      <picture>
        <source
          srcset="
            ./images/logo/logo-desk-min.png    1x,
            ./images/logo/logo-desk-2x-min.png 2x
          "
          media=" (min-width: 1200px)"
        />
        <source
          srcset="
            ./images/logo/logo-tab-min.png    1x,
            ./images/logo/logo-tab-2x-min.png 2x
          "
          media=" (min-width: 768px)"
        />
        <source
          srcset="
            ./images/logo/logo-mob-min.png    1x,
            ./images/logo/logo-mob-2x-min.png 2x
          "
          media=" (max-width: 767px)"
        />
        <img src="./images/logo/logo-mob-min.png" alt="" />
      </picture>
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle__icon" width="32" height="32" fill="currentColor">
        <use href="./images/SprayIceCream.svg#modal-close"></use>
      </svg>
    </button>

    <div class="mob-wrap">
      <div class="mob-menu-top">
        <ul class="mobile-menu list">
          <li><a href="#" class="mobile-menu__link link">Home</a></li>
          <li><a href="#" class="mobile-menu__link link">How it’s made?</a></li>
          <li><a href="#" class="mobile-menu__link link">Our products</a></li>
          <li><a href="#" class="mobile-menu__link link">Contact</a></li>
        </ul>
      </div>
      <div class="mob-menu-bottom">
        <button class="menu-btn" type="button">
          Buy now
          <svg class="menu-btn__icon" width="12" height="12">
            <use href="./images/SprayIceCream.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
<section class="hero-section">
  <div class="hero container">
    <h1 class="hero__title">
      ice cream<br />
      made with<br />
      passion
    </h1>
    <ul class="hero__list list">
      <li><a class="hero__link link" href="#">Products</a></li>
      <li><a class="hero__link--2" href="#">How it’s made?</a></li>
    </ul>
    <div class="lorem-wrap">
      <picture>
        <source
          srcset="
            ./images/ice-cream-plate/plate-desk.png    1x,
            ./images/ice-cream-plate/plate-desk-2x.png 2x
          "
          media=" (min-width: 1200px)"
        />
        <source
          srcset="
            ./images/ice-cream-plate/plate-tab.png    1x,
            ./images/ice-cream-plate/plate-tab-2x.png 2x
          "
          media=" (min-width: 768px)"
        />
        <img src="./images/ice-cream-plate/plate-desk.png" alt="" />
      </picture>
      <p class="lorem-wrap__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>
    <div class="img-wrap container">
      <picture class="hero-img">
        <source
          srcset="
            ./images/ice-cream-1/ice-cream-1-desk.png    1x,
            ./images/ice-cream-1/ice-cream-1-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/ice-cream-1/ice-cream-1-tab.png    1x,
            ./images/ice-cream-1/ice-cream-1-tab-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/ice-cream-1/ice-cream-1-mob.png    1x,
            ./images/ice-cream-1/ice-cream-1-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img src="./images/ice-cream-1/ice-cream-1-mob.png" alt="" />
      </picture>
    </div>
  </div>
</section>
