<div class="backdrop is-hidden" data-modal>
    <div class="modal-prod container">
        <button class="modal-prod__button--close" data-modal-close>
            <svg class="modal-prod__icon--close" width="24" height="24">
                <use href="./images/SprayIceCream.svg#menu-close"></use>
            </svg>
        </button>
        <form class="modal-prod__form">
            <h2 class="modal-prod__title">Chololate icecream</h2>
            <div>
                <img src="./images/products/modal-prod-mob.png" alt="ice-cream">
            </div>
            <ul class="components-list list">
                <li>
                    <ul class="comp-list__inner list">
                        <li>320</li>
                        <li>kcal</li>
                    </ul>
                </li>
                <li>
                    <ul class="comp-list__inner list">
                        <li>4g</li>
                        <li>Protein...</li>
                    </ul>
                </li>
            <li>
                <ul class="comp-list__inner list">
                    <li>8,2</li>
                    <li>Fats</li>
                </ul>
            </li>
            <li>
                <ul class="comp-list__inner list">
                    <li>40,4g</li>
                    <li>Carbs</li>
                </ul>
            </li>
            </ul>
            <h3 class="modal-prod__tit">Ingredients</h3>
            <ul class="ingredients-list list">
                <li> <span>Milk</span>  100ml</li>
                <li><span>Belgian chocolate</span> 20g</li>
                <li><span>Cream</span> 150ml</li>
                <li><span>Cocoa powder</span> 30g</li>
                <li><span>Sugar</span> 40g</li>
                <li><span>Vanilla sugar</span> 10g</li>
            </ul>
            <div class="modal-prod__field">
                <label class="modal-prod__label" for="name">Name</label>
                <input class="modal-prod__input" type="text" name="name" id="name" autocomplete="off">
                <label class="modal-prod__label" for="tel">Phone</label>
                <input class="modal-prod__input" type="tel" name="tel" id="tel" autocomplete="off">
                <label class="modal-prod__label" for="comment">Comment</label>
                <textarea class="modal-prod__comment" name="comment" id="comment" placeholder="Comment"></textarea>
            </div>
            <button class="modal-prod__button--submit" type="submit">Submit</button>
        </form>
    </div>
</div>