
    
    
    <div class="backdrop-map" data-modal>
      <div class="modal">
        <button type="button" class="modal__btn-close" data-modal-close>
          <svg class="modal-close__icon" width="17" height="17">
            <use href="./images/SprayIceCream.svg#modal-close"></use>
          </svg>
        </button>

        <p class="modal__title">Our Locations</p>

        <div class="modal__map-div">
          <img
            class="modal__map"
            src="./images/modal-img/map.jpg"
            alt="Points on map"
            width="300"
            height="175"
          >
        </div>

        <div class="modal__div-link">
          <a 
          class="modal__link"
          href="https://www.google.ie/maps/@35.847313,-117.4916379,4z/data=!3m1!4b1!4m3!11m2!2sOb_kSshMQ1G9sYvWALiErQ!3e3"  
          >
            <span class="modal__link-text">Open map</span>
          </a>
        </div>

        </form>
      </div>
    </div>