<section class="reviews">
  <div class="container">
    <div class="reviews__photo">
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="./images/review/reviews.png x1,
        ./images/review/reviews-2x.png x2"
        />
        <img
          src="./images/review/reviews.png"
          alt="User's photo"
          width="85"
          height="85"
        />
      </picture>
    </div>
    <div class="reviews__wrap">
      <p class="reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="reviews__info">Emily, Los Angeles</p>
  </div>
</section>
