<section class="reviews">
  <div class="container">
    <picture>
      <source
        media="(min-width: 320px)"
        srcset="./images/review/review.jpg 1x, ./images/review/review-2x.jpg 2x"
      />
      <img
        src="./images/review/review.jpg"
        alt="User's photo"
        width="85"
        height="85"
      />
    </picture>
    <div class="reviews__wrap">
      <p class="reviews__text">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="reviews__info">Emily, Los Angeles</p>
  </div>
</section>
