.container {
    box-sizing: border-box;
    width: 320px;
    padding: 20px;
    margin: auto;
}

.contacts__stores-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 0;
    gap: 16px;
    padding-left: 0;



}

.store {
    display: block;
    box-sizing: border-box;
    width: 280px;
    padding-top: 40px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 24px;
    border: solid 1px #E1E1E1;
    background-color: #FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.store__name {


    display: inline-block;
    text-align: center;
    padding: 4px 22px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    background-color: #F8D24E;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(22/16);
    letter-spacing: 0.04em;
    color: #131313;
}

.store__region {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.04em;
    color: #131313;
}

.store__location {
    display: block;
    margin-bottom: 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    letter-spacing: 0.04em;
    color: #D6936D;
}

.store__location:hover,
.store__location:focus {
    text-decoration: underline;
}

.store__time {
    display: flex;
    flex-flow: column;

    padding-left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;

}

.store__time-item {
    display: flex;
    flex-flow: column;
}

.store__time-item:last-child {
    padding-top: 8px;

}

.store__working-day {
    display: inline-block;
    height: 22px;
    margin-left: 0;
    padding-left: 0;
    color: #131313;

}

.store__working-time {
    display: inline-block;
    height: 22px;
    color: #ABABAB;
}

.store__list {
    padding-left: 0;
    padding-top: 24px;

}


.store__item:first-child {
    margin-bottom: 6px;
}

.store__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(19/12);
    color: #131313;

}

.store__link:hover,
.store__link:focus {
    text-decoration: underline;
}


/*---------- Buttons ----------*/

.contacts__button-list {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    gap: 16px;


}

.contacts__button-item {}

.contacts__button-location {

    display: flex;
    align-items: center;
    width: 196px;
    padding: 12px 40px;
    background-color: #F8D24E;
    border-radius: 10px;
    border: 2px solid #F8D24E;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    color: #131313;
}

.contacts__button-location:hover {
    background-color: #0A8817;
    border: 2px solid #0A8817;


}

.contacts__button-location:focus {
    background-color: #0A8817;
    border: 2px solid #0A8817;
    color: #FFFFFF;

}

.contacts__button-location:disabled {
    background-color: #ABABAB;
    border: 2px solid #ABABAB;

}




.contacts__button-franchise {

    display: flex;
    align-items: center;
    width: 196px;
    padding: 12px 55px;
    background-color: transparent;
    border: 2px solid #F8D24E;
    border-radius: 10px;

    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);
    color: #131313;
}

.contacts__button-franchise:hover {
    border: 2px solid #0A8817;
}

.contacts__button-franchise:focus {
    border: 2px solid #0A8817;
    color: #FFFFFF;

}

.contacts__button-franchise:disabled {
    border: 2px solid #ABABAB;

}

.contacts__icon {
    margin-left: 4px;

}