.gallery {
  padding-bottom: 393px;
  background-image: url(../images/bcg/bcg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include retina {
    background-image: url(../images/bcg/bcg-mob-2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @include tablet {
    padding-bottom: 379px;
    background-image: url(../images/bcg/bcg-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include retina {
      background-image: url(../images/bcg/bcg-tab-2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  @include desktop {
    padding-bottom: 228px;
    background-image: url(../images/bcg/bcg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include retina {
      background-image: url(../images/bcg/bcg-2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.container__gallery {
  position: relative;
}

.gallery__photo {
  display: block;
  border-radius: 24px;
  margin: 0 auto;
  @media screen and (max-width: 479px) {
    width: 100%;
    height: auto;
  }
  @include mobile {
    width: 440px;
    height: auto;
  }
  @include tablet {
    width: 100%;
    height: auto;
  }
}
