.reviews__wrap {
  background-color: #84a178;
  border-radius: 24px;
  padding: 35px 39px;
}

.reviews__text {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
}
